/*
dark blue: 306998
light blue: 5A9FD4
dark yellow: FFD43B
light yellow: FFE873
white: FFFFFF
gray: 444444
*/

body {
  font-family: 'Fira Code';
  margin: 25px auto;
  padding: 25px;
  max-width: 555px;
  font-size: 12px;
  color: #444444;
}

a {
  color: #306998;
}

a:hover,
a:active {
  background: #306998;
  color: #FFFFFF;
  padding: 2px 0 0;
  text-decoration: none;
}

h1 a,
h1 a:hover,
h1 a:active {
  background: none;
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 25px 0;
  height: 1px;
  border: none;
  background: #FFD43B;
}
